<section class="appoinment">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 ">
				<div class="appoinment-content">
					<img src="images/ceremonies/ceremony-04.jpg" alt="" class="img-fluid">
					<div class="emergency">
						<h2 class="text-md"><a href="https://wa.me/{{ site.data.info.whatsapp }}" class="text-white"><i class="icofont-phone-circle text-md"></i>{{ site.data.info.phone }}</a></h2>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">Entre em contato</h2>
					<p class="mb-4">Mande uma mensagem diretamente para David.</p>
					<form id="#" class="appoinment-form" action="https://formspree.io/f/xbjqbpbd" method="POST">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label for="name">Nome</label>
									<input name="nome" id="name" type="text" class="form-control" placeholder="Digite seu nome aqui">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<label for="name">Email</label>
									<input name="email" id="_replyto" type="text" class="form-control" placeholder="Digite seu email" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="name">Cidade</label><br>
									<input name="cidade" id="city" type="text" class="form-control" placeholder="Digite onde a celebração irá ocorrer">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="name">Data</label>
									<input name="data" id="date" type="text" class="form-control" placeholder="Informe a data prevista" required>
								</div>
							</div>
						</div>
						<div class="form-group-2 mb-4">
							<label for="name">Mensagem</label>
							<textarea name="mensagem" id="message" class="form-control" rows="6" placeholder="Digite sua mensagem aqui" required></textarea>
						</div>

						<a href="" id="sendWhatsAppMessageBtn" class="btn btn-main btn-round-full">Enviar mensagem no WhatsApp</a>
						<input type="submit" value="Ou envie por email" style="background: none; border: none; text-decoration: underline; cursor: pointer;">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	sendWhatsAppMessageBtn = document.getElementById('sendWhatsAppMessageBtn')

	sendWhatsAppMessageBtn.addEventListener("click", (e) => {
		e.preventDefault()

		name =    document.getElementById('name').value
		email =   document.getElementById('_replyto').value
		city =    document.getElementById('city').value
		date =    document.getElementById('date').value
		message = document.getElementById('message').value

		window.location = `https://wa.me/+5531991438577?text=Ol%C3%A1%20David%2C%20meu%20nome%20%C3%A9%20${name}%20e%20essa%20%C3%A9%20minha%20mensagem%3A%0A%0A${message}.%0A%0AAlguns%20outros%20detalhes%20que%20podem%20ajudar%3A%0A%0AEmail%3A%20${email}%0ACidade%3A%20${city}%0AData%3A%20${date}`
	})
</script>